<div class="wechatgame">
    <ui-prop>
        <ui-label
            slot="label"
            value="i18n:wechatgame.options.separate_engine"
            :tooltip="isDebugMode ? 'i18n:wechatgame.tips.separate_engine_with_debug' : isNormalVersion ? 'i18n:wechatgame.options.separate_engine_tips' : 'i18n:wechatgame.tips.separate_engine_only_in_normal_version'"
        ></ui-label>
        <div slot="content">
            <ui-checkbox
                :value="pkgOptions.separateEngine"
                :disabled="!isNormalVersion || isDebugMode"
                @confirm="onSeparateEngineConfirm"
            ></ui-checkbox>
        </div>
    </ui-prop>

    <ui-prop>
        <ui-label
            slot="label"
            value="i18n:wechatgame.options.wasm_experimental"
            tooltip="i18n:wechatgame.options.wasm_experimental_tips"
        ></ui-label>
        <div slot="content">
            <ui-select
                @confirm="onWasmConfirm"
                :value="physics3D ? pkgOptions.wasm || 'wasm' : 'none'"
            >
                <option value="none" v-if="!physics3D">{{t('physics_disabled')}}</option>
                <option value="wasm">{{t('on')}}</option>
                <option value="js">{{t('off')}}</option>
            </ui-select>
            <div v-if="!physics3D" class="warning-tip">
                <span>
                    <ui-label value="i18n:wechatgame.tips.jump_to_edit_physics.start"></ui-label>
                    <ui-label
                        class="jump"
                        @click="openProjectSettings"
                        value="i18n:wechatgame.tips.jump_to_edit_physics.center"
                    ></ui-label>
                    <ui-label value="i18n:wechatgame.tips.jump_to_edit_physics.end"></ui-label>
                </span>
            </div>
        </div>
    </ui-prop>
</div>
