<div class="content">
    <div class="logo">
        <img class="img" src="packages://about/static/image/splash_portrait.png" />
    </div>
    <div class="info">
        <div class="name">Cocos Creator</div>
        <div class="version">
            <ui-label value="i18n:about.version"></ui-label>
            <span>{{version}}</span>
        </div>

        <div class="commit">
            <div>
                <ui-label value="i18n:about.engine"></ui-label>
                <span>{{commit.engine}}</span>
            </div>
            <div>
                <ui-label value="i18n:about.editor"></ui-label>
                <span>{{commit.editor}}</span>
            </div>
            <div>
                <ui-label value="i18n:about.cocos2dx"></ui-label>
                <span>{{commit.cocos2dx}}</span>
            </div>
            <div>
                <ui-label value="i18n:about.external"></ui-label>
                <span>{{commit.external}}</span>
            </div>
            <div>
                <ui-label value="i18n:about.cocosConsole"></ui-label>
                <span>{{commit.cocosConsole}}</span>
            </div>
        </div>
    </div>
</div>
<footer>(c) 2021 Xiamen Yaji Software Co., Ltd. All rights reserved.</footer>