<div class="modules">
    <!-- 禁用废弃接口 -->
    <section @confirm="_onConfirm($event)">
        <ui-prop>
            <ui-label
                slot="label"
                value="i18n:engine.project.modules.noDeprecatedFeatures"
                tooltip="i18n:engine.project.modules.noDeprecatedFeatures_tooltip"
            ></ui-label>
            <ui-checkbox
                slot="content"
                :value="noDeprecatedFeatures.value"
                @confirm="onDeprecatedAPI('value', $event.target.value)"
            ></ui-checkbox>
        </ui-prop>
        <div v-if="noDeprecatedFeatures.value === true">
            <ui-prop>
                <ui-label slot="label" value="i18n:engine.project.modules.noDeprecatedFeatures_version"></ui-label>
                <ui-input
                    slot="content"
                    style="flex: 1"
                    :value="noDeprecatedFeatures.version"
                    @confirm="onDeprecatedAPI('version', $event.target.value)"
                    placeholder="i18n:engine.project.modules.noDeprecatedFeatures_version_tip"
                ></ui-input>
            </ui-prop>
        </div>
    </section>
    <div class="tip">
        <ui-label value="i18n:engine.project.modules.info"></ui-label>
    </div>
    <div class="tip">
        <ui-label value="i18n:engine.project.modules.warn"></ui-label>
    </div>
    <section class="content" @confirm="_onConfirm($event)">
        <div class="modules-header">
            <div class="modules-item">
                <!-- 这个选项比较特殊，因为它不可能有全部未选中的状态，因为我们有不能改动的必选，所以只要非全选，就一定是 indeterminate 的状态-->
                <ui-checkbox :invalid="!allChecked" :value="allChecked" @confirm="_onSelectAllChanged($event)">
                    <ui-label value="i18n:engine.project.modules.inquiry_all"></ui-label>
                </ui-checkbox>
            </div>
        </div>

        <div class="modules-section" v-if="moduleTreeDump">
            <module-item
                v-for="(module, moduleId) in moduleTreeDump.default"
                v-if="module.label"
                :key="moduleId"
                :module="module"
                :module-id="moduleId"
                :module-cache="moduleCache"
                :select-all="true"
                category="default"
                @change="_onModuleChanged"
            ></module-item>
            <template v-for="(categoryDetail, category) in moduleTreeDump.categories">
                <ui-section expand v-if="category !== 'default'" :key="category">
                    <div slot="header" v-if="categoryDetail.checkable">
                        <ui-checkbox
                            :tooltip="categoryDetail.description || category"
                            :value="calcCategoryAllChecked(category)"
                            :invalid="!calcCategoryAllChecked(category) && calcCategoryIndeterminate(category)"
                            @confirm="_onCategoryConfirm($event, category)"
                            @click.stop
                        >
                            <ui-label :value="categoryDetail.label || category"></ui-label>
                        </ui-checkbox>
                        <ui-label
                            v-if="categoryDetail.required"
                            value="i18n:engine.project.modules.categoryRequired"
                            class="require-tip"
                        ></ui-label>
                    </div>
                    <ui-label
                        v-else
                        slot="header"
                        :value="categoryDetail.label || category"
                        :tooltip="categoryDetail.description || category"
                    ></ui-label>
                    <div class="module-section-content">
                        <module-item
                            v-for="(module, moduleId) in categoryDetail.modules"
                            :key="moduleId"
                            :module="module"
                            :module-id="moduleId"
                            :module-cache="moduleCache"
                            :select-all="true"
                            :category="category"
                            :category-detail="categoryDetail"
                            @change="_onModuleChanged"
                            @change-flag="onChangeFlag"
                        ></module-item>
                    </div>
                </ui-section>
            </template>
        </div>
    </section>
</div>
