<div
    class="tree-node"
    :state="state"
    :is-scene="node.isScene"
    :is-prefab-root="node.isPrefabRoot"
    :is-prefab-node="node.prefab.state"
    :is-prefab-nested="node.prefab.isNested"
    @click.right.stop="popupMenu(node)"
    @click.stop="click(node, $event)"
    @dblclick="dblclick(node)"
    @dragenter="dragEnter($event)"
    @mouseenter="calcEditPrefabIconStyle"
>
    <ui-drag-item
        class="drag-item"
        type="cc.Node"
        :draggable="draggable"
        :style="style"
        @dragstart="dragStart(node, $event)"
        @dragover="dragOver(node, $event)"
        @dragleave="dragLeave(node, $event)"
        @drop="drop(node, $event)"
    >
        <ui-icon class="arrow" value="arrow-triangle" @click.stop="toggle(node,$event)" @dblclick.stop></ui-icon>

        <template v-if="assetIcon">
            <ui-icon v-if="assetIcon.type === 'icon'" color="true" :value="assetIcon.value"> </ui-icon>
            <ui-asset-image
                v-if="assetIcon.type === 'asset'"
                class="root"
                :value="assetIcon.value"
                color="true"
                tooltip="i18n:hierarchy.menu.locateAsset"
                @click="twinkle(node)"
            ></ui-asset-image>
        </template>
        <ui-icon v-else-if="profile.showComponentIcon && componentIcon" default="component" color :value="componentIcon"></ui-icon>

        <ui-rename-input
            style="--focus-bg-color: transparent"
            ref="renameInput"
            :class="{'name': state !== 'rename', 'rename': state === 'rename'}"
            :state="renameInputState"
            :title="t('menu.' + renameInputState)"
            :value="node.name"
            @change="renameChange"
            @confirm="renameSubmit"
            @rename="rename(node,$event)"
            :canRename.prop="canRename(node)"
            :showValueSuffix.prop="true"
        >
            <ui-loading v-if="state==='loading'" style="font-size: 12px" slot="value-suffix"></ui-loading>
            <ui-icon
                v-else-if="node.prefab.isAddedChild"
                slot="value-suffix"
                class="prefab-added-node"
                value="add"
                tooltip="i18n:hierarchy.menu.added_prefab_node_tooltip"
            ></ui-icon>
        </ui-rename-input>

        <ui-icon
            class="lock"
            tooltip="i18n:hierarchy.menu.lockInScene"
            v-if="!node.isScene && !node.isPrefabRoot"
            :value="(node.locked || showInsideLock(node))?'lock':'unlock'"
            :locked="node.locked"
            :inside-locked="showInsideLock(node)"
            @click.stop="toggleLock(node, $event)"
        ></ui-icon>
        <ui-icon
            class="edit"
            value="edit"
            tooltip="i18n:hierarchy.menu.edit_prefab"
            v-if="showEditPrefabIcon"
            :style="editPrefabIconStyle"
            @click.stop="editPrefab(node)"
        ></ui-icon>
        <ui-icon v-if="showCustomComponent" style="margin-right: 4px" default="asset" color="true" value="typescript"></ui-icon>
    </ui-drag-item>
    <div class="tree-node" :style="addInputStyle" v-if="state==='add'">
        <div class="rename" :state="addInputState" :title="t('menu.' + addInputState)">
            <input
                ref="addInput"
                :value="addValue"
                @input="addChange()"
                @blur="addSubmit()"
                @keydown.stop
                @keydown.enter="addSubmit()"
                @keydown.esc="addCancel()"
            />
        </div>
    </div>
</div>
