:host {
    display: flex;
    flex-direction: column;
}

:host > header {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

:host > header > h1 {
    font-size: 18px;
    margin-bottom: 16px;
}

:host > header > ui-progress {
    width: 100%;
}

:host > section {
    flex: 1;
    display: flex;
}

:host > section > ui-tree {
    flex: 1;
    border: 1px solid var(--color-normal-border);
    background: var(--color-normal-fill-emphasis);
}

:host > footer {
    padding: 10px 20px 10px 20px;
}

:host > footer > .btn_depend {
    float: left;
}

:host > footer > .export {
    width: 80px;
    float: right;
}

:host > footer > .import {
    width: 80px;
    float: right;
}

:host > section > .loading {
    left: 50%;
    top: 50%;
    margin-left: -25px;
    position: absolute;
}
.loading span {
    display: inline-block;
    width: 8px;
    height: 100%;
    border-radius: 4px;
    background: lightgreen;
    animation: load 1s ease infinite;
}

@keyframes load {
    0%, 100% {
        height: 40px;
        background: lightgreen;
    }
    50% {
        height: 70px;
        margin: -15px 0;
        background: lightblue;
    }
}

.loading span:nth-child(2) {
    animation-delay: 0.2s;
}

.loading span:nth-child(3) {
    animation-delay: 0.4s;
}

.loading span:nth-child(4) {
    animation-delay: 0.6s;
}

.loading span:nth-child(5) {
    animation-delay: 0.8s;
}
