<div class="searcher" ref="main">
    <header class="toolbar">
        <ui-input ref="searchInput" show-clear
            :disabled="loading"
            placeholder="i18n:ui-kit.searcher.placeholder" 
            @change="onSearch"
            @keydown.down.stop="searchKeydown($event)"
        ></ui-input>
        <ui-button
            v-if="checkAllowCreate(ccType)"
            :disabled="loading"
            @confirm.stop="createAsset()"
        >Create</ui-button>
    </header>
    <main class="container" ref="container">
        <div class="loading"
            v-if="loading"             
        >
            <ui-loading></ui-loading>
        </div>
        <template 
            v-else-if="dataDump"
        >
            <data-section
                v-if="type==='add-component'"
                v-for="(data, header) in dataDump"
                :key="data.uuid"
                :header="header"
                :data="data"
                :expand="expand"
                @confirm="onSelect"
            ></data-section>
            <div class="line"
                v-for="(data, index) in dataDump"
                v-if="type!=='add-component' && index <= dataDumpShowNumber"
                :key="data.uuid"
                :value="data.uuid"
                :selected="data.uuid===selected"
                @dblclick.stop="onSelect(data.uuid, data)"
                @click.stop="onSelect(data.uuid, data)"
            >
                <div class="left" 
                    v-if="data.iconInfo"
                >
                    <ui-icon color="true" 
                        v-if="data.iconInfo.type === 'icon'" 
                        :value="data.iconInfo.value"
                    ></ui-icon>
                    <ui-image class="image"
                        v-if="data.iconInfo.type === 'image'" 
                        :value="data.uuid"
                    ></ui-image>
                </div>
                <div class="right">
                    <div class="name">
                        {{data.name}} 
                    </div>
                    <span class="path">
                        <ui-icon value="location" class="location"
                            @click.stop="twinkle(data)"
                        ></ui-icon>
                        {{data.path}}
                    </span>
                    <ui-icon class="select" color="true" value="check-b"></ui-icon>
                </div>
            </div>
        </template>
        <div class="empty"
            v-else
        >
            {{t('empty')}}
        </div>
    </main>
</div>
