<ui-prop-split class="section" position='40' min-limit='20%,40%' v-if="options && scenes.length" :disabled="type === 'check'">
    <div class="common" @confirm="onConfirm">
        <build-prop
            v-if="!optionConfigs.name.hidden"
            path="name"
            :config="optionConfigs.name"
            :value="options.name"
            @update="onCommonDataChange"
        ></build-prop>

        <ui-prop :class="calcPropClass('platform', errorMap.platform)" :message="errorMap.platform">
            <ui-label slot="label" :tooltip="optionConfigs.platform.description" :value="optionConfigs.platform.label"></ui-label>
            <div slot="content">
                <!-- 平台选择 -->
                <ui-select-pro filter :disabled="type !== 'new'" path="platform" max-height="300px">
                    <template v-for="item of platformOrder">
                        <ui-select-option-pro
                            v-if="platforms[item]"
                            :key="item"
                            :value="item"
                            :label="platforms[item]"
                            :selected="options.platform===item"
                        >
                        </ui-select-option-pro>
                    </template>

                    <ui-select-option-pro
                        v-if="!platforms[options.platform]"
                        :value="options.platform"
                        :label="options.platform + '(missing)'"
                        :selected="options.platform===item"
                        max-height="300px"
                    >
                    </ui-select-option-pro>
                </ui-select-pro>
            </div>
        </ui-prop>

        <ui-prop
            :class="'build-path no-wrap ' + calcPropClass('buildPath', errorMap.buildPath || errorMap.outputName)"
            :message="errorMap.buildPath || errorMap.outputName"
        >
            <ui-label slot="label" :tooltip="optionConfigs.buildPath.description" :value="optionConfigs.buildPath.label"></ui-label>
            <div slot="content">
                <ui-file
                    ref="build-path"
                    style="flex: 2; --open-btn-display: none"
                    :tooltip="options.buildPath"
                    path="buildPath"
                    type="directory"
                    protocols="project,file"
                    @confirm.stop="onBuildPathConfirm"
                ></ui-file>
                <ui-label style="width: 10px; text-align: center"> / </ui-label>
                <ui-input
                    :value="options.outputName"
                    :tooltip="options.outputName || optionConfigs.outputName.description"
                    path="outputName"
                ></ui-input>
                <ui-button class="transparent" type="icon" @confirm.stop="revealInExplorer" :disabled="type === 'new'">
                    <ui-icon value="folder-open"></ui-icon>
                </ui-button>
            </div>
        </ui-prop>

        <ui-prop :class="calcPropClass('startScene', errorMap.startScene)" :message="errorMap.startScene">
            <ui-label slot="label" :tooltip="optionConfigs.startScene.description" :value="optionConfigs.startScene.label"></ui-label>
            <div slot="content">
                <ui-select-pro filter path="startScene">
                    <template v-for="scene in options.scenes">
                        <ui-select-option-pro
                            v-if="!scene.bundle"
                            :key="scene.uuid"
                            :value="scene.uuid"
                            :label="scene.url"
                            :selected="options.startScene===scene.uuid"
                        >
                        </ui-select-option-pro>
                    </template>
                </ui-select-pro>
            </div>
        </ui-prop>

        <ui-prop :class="errorMap.scenes ? 'danger' : ''">
            <ui-label slot="label" :tooltip="optionConfigs.scenes.description" :value="optionConfigs.scenes.label"></ui-label>
            <div class="scene-list" slot="content">
                <div>
                    <div class="fix-box">
                        <ui-checkbox
                            :value="_checkSelectAllScenes(scenes, options.scenes)"
                            @confirm.stop="_onSelectAllScenesConfirm($event)"
                        >
                            <ui-label value="i18n:builder.options.select_all"></ui-label>
                        </ui-checkbox>
                        <ui-input placeholder="Search..." @change="sceneSearchName = $event.target.value"></ui-input>
                    </div>
                    <div class="scenes-box">
                        <div
                            v-for="scene in sceneList"
                            v-if="!scene.hide"
                            :home="scene.uuid === options.startScene"
                            :missing="scene.missing"
                        >
                            <ui-checkbox
                                :disabled="scene.missing ? false : scene.uuid === options.startScene || scene.bundle"
                                :value="!!scene.bundle || _checkSelectScene(scene, options.scenes)"
                                :tooltip="scene.url"
                                @confirm.stop="_onSelectSceneConfirm($event, scene)"
                            >
                                <span class="name">{{scene.url.match(/([^\/\\]+?)(\.[^\/\\.]*)?$/)[1]}}</span>
                                <span class="url">({{scene.url}})</span>
                                <i class="missing" v-if="scene.missing">(missing)</i>
                            </ui-checkbox>
                            <ui-button
                                class="transparent"
                                type="icon"
                                path="startScene"
                                v-if="!scene.bundle"
                                :tooltip="optionConfigs.startScene.label"
                                :value="scene.uuid"
                                :disabled="scene.uuid === options.startScene"
                            >
                                <ui-icon value="home"></ui-icon>
                            </ui-button>
                            <ui-label v-else tooltip="i18n:builder.tips.scene_in_bundle">Bundle</ui-label>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="errorMap.scenes" slot="message" class="message">
                <ui-label :value="errorMap.scenes"></ui-label>
                <ui-link class="missing" @click="_removeMissingScenes(options.scenes)">
                    <ui-label value="i18n:builder.removeMissingScenes"></ui-label>
                </ui-link>
            </div>
        </ui-prop>
        <ui-section expand>
            <ui-label slot="header" value="Bundles"></ui-label>
            <div>
                <ui-prop :class="errorMap.bundleConfigs ? 'danger' : ''" :message="errorMap.bundleConfigs">
                    <ui-label slot="label" :value="optionConfigs.bundleConfigs.label"></ui-label>
                    <div slot="content" class="bundle-list">
                        <ui-checkbox
                            :value="_checkSelectAllBundles(bundleList, options.bundleConfigs)"
                            @confirm.stop="_onSelectAllBundlesConfirm($event)"
                            :readonly="selectAllBundleDisabled"
                            :tooltip="selectAllBundleDisabled ? 'i18n:builder.options.selectAllBundleDisabled' : ''"
                        >
                            <ui-label value="i18n:builder.options.select_all"></ui-label>
                        </ui-checkbox>
                        <div class="scene-list" v-if="!_checkSelectAllBundles(bundleList, options.bundleConfigs)">
                            <div class="fix-box">
                                <ui-input placeholder="Search..." @change="bundleSearchName = $event.target.value"></ui-input>
                            </div>
                            <div class="scenes-box">
                                <div v-for="bundle in bundleList" v-if="!(bundle.hide)" :missing="bundle.missing">
                                    <ui-checkbox
                                        :disabled="options.buildMode !== 'bundle' && internalBundleList[bundle.name]"
                                        :value="_checkSelectBundle(bundle, options.bundleConfigs)"
                                        :tooltip="bundle.root || bundle.name"
                                        @confirm.stop="_onSelectBundleConfirm($event, bundle)"
                                    >
                                        <span class="name">{{ bundle.name === 'main' ? 'Main Bundle' : bundle.name}}</span>
                                        <span class="url">({{bundle.root || 'internal'}})</span>
                                        <i class="missing" v-if="bundle.missing">(missing)</i>
                                    </ui-checkbox>

                                    <ui-button v-if="bundle.uuid" class="transparent" type="icon" @click="_onEditBundle(bundle)">
                                        <ui-icon value="edit"></ui-icon>
                                    </ui-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ui-prop>

                <ui-prop :disabled="!_checkSelectBundle({ name: 'main', output: true }, options.bundleConfigs)">
                    <ui-label slot="label" value="i18n:builder.options.main_bundle_config"></ui-label>
                    <ui-prop-split slot="content" position="40" disabled>
                        <ui-prop>
                            <ui-label
                                slot="label"
                                :tooltip="optionConfigs.mainBundleCompressionType.description"
                                :value="optionConfigs.mainBundleCompressionType.label"
                                @mouseup="_copyPropertyKey($event, 'mainBundleCompressionType', optionConfigs.mainBundleCompressionType, options.mainBundleCompressionType)"
                            ></ui-label>
                            <div slot="content">
                                <ui-select-pro @confirm.stop="_onCompressionTypeConfirm($event)">
                                    <template v-for="(val, key) in compressionTypes">
                                        <ui-select-option-pro
                                            :key="val"
                                            :value="val"
                                            :label="'i18n:builder.asset_bundle.' + val"
                                            :title="t('asset_bundle.' + val + '_tooltip')"
                                            :selected="options.mainBundleCompressionType===val"
                                        >
                                        </ui-select-option-pro>
                                    </template>
                                </ui-select-pro>
                            </div>
                        </ui-prop>

                        <ui-prop
                            v-if="!optionConfigs.mainBundleIsRemote.hidden"
                            :class="mainBundleIsRemoteWarnTip && type !== 'check' ? 'warn' : ''"
                            :message="type !== 'check' ? mainBundleIsRemoteWarnTip : ''"
                        >
                            <ui-label
                                slot="label"
                                :tooltip="optionConfigs.mainBundleIsRemote.description"
                                :value="optionConfigs.mainBundleIsRemote.label"
                                @mouseup="_copyPropertyKey($event, 'mainBundleIsRemote', optionConfigs.mainBundleIsRemote, options.mainBundleIsRemote)"
                            ></ui-label>
                            <div slot="content">
                                <ui-checkbox
                                    path="mainBundleIsRemote"
                                    :disabled="_isRemoteLocked()"
                                    :value="options.mainBundleIsRemote"
                                ></ui-checkbox>
                            </div>
                        </ui-prop>
                    </ui-prop-split>
                </ui-prop>

                <build-prop
                    v-if="!optionConfigs.startSceneAssetBundle.hidden"
                    path="startSceneAssetBundle"
                    :config="optionConfigs.startSceneAssetBundle"
                    :value="options.startSceneAssetBundle"
                    @update="onCommonDataChange"
                ></build-prop>

                <ui-prop>
                    <ui-label slot="label" value="i18n:builder.options.resources_server"></ui-label>
                    <ui-prop-split slot="content" position="40" disabled>
                        <build-prop
                            v-if="!optionConfigs.useBuiltinServer.hidden"
                            path="useBuiltinServer"
                            :config="optionConfigs.useBuiltinServer"
                            :value="options.useBuiltinServer"
                            @update="onCommonDataChange"
                        ></build-prop>
                        <build-prop
                            v-if="!optionConfigs.server.hidden"
                            path="server"
                            :config="optionConfigs.server"
                            :value="options.server"
                            @update="onCommonDataChange"
                        ></build-prop>
                    </ui-prop-split>
                </ui-prop>

                <ui-prop readonly="true">
                    <ui-label
                        slot="label"
                        :value="optionConfigs.bundleCommonChunk.label"
                        :tooltip="optionConfigs.bundleCommonChunk.description"
                    ></ui-label>
                    <ui-checkbox
                        slot="content"
                        :value="options.buildMode === 'bundle' ? true : options.bundleCommonChunk"
                        @confirm="onCommonDataChange('bundleCommonChunk', $event.target.value)"
                    ></ui-checkbox>
                </ui-prop>

                <build-prop
                    v-if="!optionConfigs.binGroupConfig.hidden"
                    path="binGroupConfig"
                    :config="optionConfigs.binGroupConfig"
                    :value="options.binGroupConfig"
                    @update="onCommonDataChange"
                ></build-prop>
            </div>
        </ui-section>
        <template v-for="key in commonOptionsKeys" v-if="optionConfigs[key] && !optionConfigs[key].hidden && controlOptionVisible(key)">
            <build-prop :path="key" :config="optionConfigs[key]" :value="options[key]" :key="key" @update="onCommonDataChange"></build-prop>
        </template>

        <ui-prop>
            <build-prop
                path="md5Cache"
                :config="optionConfigs.md5Cache"
                :value="options.md5Cache"
                @update="onCommonDataChange"
            ></build-prop>
            <ui-prop v-if="options.md5Cache">
                <div slot="label">
                    <ui-icon color="" tooltip="i18n:builder.experiment" value="experiment"></ui-icon>
                    <ui-label
                        tooltip="i18n:builder.options.handleTemplateMd5LinkTips"
                        value="i18n:builder.options.handleTemplateMd5Link"
                    ></ui-label>
                </div>
                <ui-checkbox
                    slot="content"
                    :value="options.md5CacheOptions.handleTemplateMd5Link"
                    @confirm="onCommonDataChange('md5CacheOptions.handleTemplateMd5Link', $event.target.value)"
                ></ui-checkbox>
            </ui-prop>
        </ui-prop>

        <ui-prop class="splash no-wrap" v-if="!optionConfigs.useSplashScreen.hidden">
            <ui-label slot="label" :value="optionConfigs.useSplashScreen.label"></ui-label>
            <div slot="content">
                <ui-checkbox
                    path="useSplashScreen"
                    :value="options.useSplashScreen"
                    :disabled="optionConfigs.useSplashScreen.render.attributes && optionConfigs.useSplashScreen.render.attributes.disabled"
                ></ui-checkbox>
                <ui-icon value="edit" @click="onSetSplashSetting" tooltip="i18n:builder.tips.setSplashSetting"></ui-icon>
            </div>
        </ui-prop>

        <ui-section expand>
            <ui-label slot="header" value="i18n:builder.engineConfig"></ui-label>
            <div class="engine">
                <ui-prop :class="errorMap.engineModulesConfigKey ? 'danger' : ''" :message="errorMap.engineModulesConfigKey">
                    <ui-label
                        slot="label"
                        value="i18n:builder.options.engineModulesConfigKey"
                        tooltip="i18n:builder.options.engineModulesConfigKeyTip"
                    ></ui-label>
                    <div style="flex-direction: row" slot="content">
                        <ui-select-pro style="flex: 1; margin-right: 8px" path="engineModulesConfigKey">
                            <ui-select-option-pro
                                v-for="(item, key) in engineModulesConfigs"
                                :key="key"
                                :value="key"
                                :label="item.name"
                                :selected="options.engineModulesConfigKey === key"
                            >
                            </ui-select-option-pro>
                        </ui-select-pro>
                        <ui-icon @click="goProjectSetting" value="edit"></ui-icon>
                    </div>
                </ui-prop>

                <div v-if="options.overwriteProjectSettings">
                    <div class="macroConfig" @confirm.stop="onMacrosConfirm">
                        <ui-prop>
                            <ui-label
                                slot="label"
                                value="CLEANUP_IMAGE_CACHE"
                                tooltip="i18n:builder.options.cleanupImageCacheDesc"
                            ></ui-label>

                            <ui-select-pro slot="content" path="cleanupImageCache">
                                <ui-select-option-pro
                                    value="inherit-project-setting"
                                    label="i18n:builder.inheritProjectSetting"
                                    :selected='currentCleanupImageCache === "inherit-project-setting"'
                                >
                                </ui-select-option-pro>
                                <ui-select-option-pro value="on" label="i18n:builder.on" :selected='currentCleanupImageCache === "on"'>
                                </ui-select-option-pro>
                                <ui-select-option-pro value="off" label="i18n:builder.off" :selected='currentCleanupImageCache === "off"'>
                                </ui-select-option-pro>
                            </ui-select-pro>
                        </ui-prop>
                    </div>
                    <div class="includeModules" @confirm.stop="onModulesConfirm">
                        <ui-prop v-for="(item, physicsType) in physicsConfig" v-if="item.enable" :key="physicsType">
                            <ui-label slot="label" :value="item.config.label" :tooltip="item.config.description"></ui-label>
                            <ui-select-pro slot="content" :path="physicsType">
                                <ui-select-option-pro
                                    value="inherit-project-setting"
                                    label="i18n:builder.inheritProjectSetting"
                                    :selected="(overwriteProjectSettings.includeModules[physicsType] || 'inherit-project-setting') === 'inherit-project-setting'"
                                ></ui-select-option-pro>
                                <template v-for="(item, optionKey) in item.config.options">
                                    <ui-select-option-pro
                                        :value="optionKey"
                                        :label="item.label"
                                        :selected="(overwriteProjectSettings.includeModules[physicsType] || 'inherit-project-setting') === optionKey"
                                    ></ui-select-option-pro>
                                </template>
                            </ui-select-pro>
                        </ui-prop>
                        <ui-prop
                            class="modules-item"
                            v-if="!internalNativePlugins.includes(options.platform) && webGL2DisplayDump && options.overwriteProjectSettings"
                        >
                            <ui-label slot="label" :value="webGL2DisplayDump.label" :tooltip="webGL2DisplayDump.description"></ui-label>
                            <ui-select-pro slot="content" path="gfx-webgl2">
                                <ui-select-option-pro
                                    value="inherit-project-setting"
                                    label="i18n:builder.inheritProjectSetting"
                                    :selected='currentGfxWebgl2 === "inherit-project-setting"'
                                >
                                </ui-select-option-pro>
                                <ui-select-option-pro value="on" label="i18n:builder.on" :selected='currentGfxWebgl2 === "on"'>
                                </ui-select-option-pro>
                                <ui-select-option-pro value="off" label="i18n:builder.off" :selected='currentGfxWebgl2 === "off"'>
                                </ui-select-option-pro>
                            </ui-select-pro>
                        </ui-prop>
                    </div>
                </div>

                <ui-prop v-if="showNativeBundleMode">
                    <ui-label
                        slot="label"
                        value="i18n:builder.options.nativeCodeBundleMode"
                        tooltip="i18n:builder.options.nativeCodeBundleModeTip"
                    ></ui-label>
                    <ui-select-pro slot="content" path="nativeCodeBundleMode">
                        <ui-select-option-pro value="wasm" label="Wasm" :selected='options.nativeCodeBundleMode === "wasm"'>
                        </ui-select-option-pro>
                        <ui-select-option-pro value="asmjs" label="Asmjs" :selected='options.nativeCodeBundleMode === "asmjs"'>
                        </ui-select-option-pro>
                        <ui-select-option-pro value="both" label="Wasm + Asmjs" :selected='options.nativeCodeBundleMode === "both"'>
                        </ui-select-option-pro>
                    </ui-select-pro>
                </ui-prop>

                <ui-prop
                    v-if="!optionConfigs.wasmCompressionMode.hidden && showNativeBundleMode && options.nativeCodeBundleMode !== 'asmjs'"
                >
                    <ui-label
                        slot="label"
                        value="i18n:builder.options.wasmCompressionMode"
                        tooltip="i18n:builder.options.wasmCompressionModeTip"
                    ></ui-label>
                    <ui-checkbox
                        slot="content"
                        path="wasmCompressionMode"
                        :value="wasmCompressionModeValue"
                        @confirm.stop="onCommonDataChange('wasmCompressionMode', $event.target.value ? 'brotli' : '')"
                    ></ui-checkbox>
                </ui-prop>
            </div>
        </ui-section>
    </div>

    <build-plugin
        class="plugins"
        v-for="compInfo in compInfos"
        v-if="optionsReady && (compInfo.options || compInfo.panelInfo)"
        :config="compInfo"
        :options="options"
        :free="free"
        :key="compInfo.pkgName + options.platform"
        :error-map="errorMap"
        :name="compInfo.pkgName"
        :type="type"
        ref="plugins"
        @datachange="onPluginUpdate"
    >
    </build-plugin>
</ui-prop-split>
