.DS_Store
.workflow
.history
.idea

/node_modules
node_modules/

/extensions/*/dist
/@types/cc.d.ts
/config.json
.publish
.develop
.electron
.vscode/extensions.json
.vscode/launch.json
.temp
/.task/*
/scripts/workflow/.*
/scripts/.build-cache.json
