<div class="comp">
    <ui-section
        v-if="dump"
        :expand="$root.expand(dump.value.uuid.value, true)"
        :expand-key="dump.value.uuid.value"
    >
        <div class="header" slot="header">
            <ins-prop class="checkbox" empty="true"
                :dump="dump.value.enabled"
                v-if="dump.editor._showTick"
            >
                <ui-checkbox tooltip="i18n:inspector.enable_component"
                    :invalid="dumps && dumps.some(item => item.value.enabled.value !== dump.value.enabled.value)"
                    :value="dump.value.enabled.value"
                    @change="dump.value.enabled.value = $event.target.value, dumps.forEach(item => item.value.enabled.value = $event.target.value)"
                    @click.stop
                ></ui-checkbox>
            </ins-prop>
            <div class="name">
                <ui-drag-item
                    :type="dump.type"
                    :extends="dump.extends"
                    @dragstart="dumps.length === 1 && _onDragStart($event)"
                >{{dump.name}}{{dump.isMounted?'+':''}}</ui-drag-item>
            </div>
            <ui-link class="link"
                v-if="helpUrl"
                :value="helpUrl"
                tooltip="i18n:inspector.menu.help_url"
                @click.stop
            >
                <ui-icon value="help"></ui-icon>
            </ui-link>
            <div class="setting">
                <ui-icon class="i-setting" value="setting" tooltip="i18n:inspector.menu.component"
                    @click.stop="_onClickComponentMenu($event)"
                ></ui-icon>
            </div>
        </div>

        <template
            v-if="getCustomComponent(dump.type, dump.extends)"
        >
            <!-- 特殊模版 -->
            <component
                :is="getCustomComponent(dump.type, dump.extends)"
                :dump="dump"
                :dumps="dumps"
            ></component>
        </template>

        <template
            v-else
        >
            <!-- 自动渲染 -->
            <div class="content"
                v-for="(item, index) in shortProp(dump.value)"
                :key="item.dump.name + index"
                v-if="item.dump.visible"
            >
                <ins-prop auto="true"
                    :expand-prefix="dump.value.uuid.value"
                    :dump="item.dump"
                    :dumps="dumps ? dumps.map(dump => dump.value[item.key]) : null"
                ></ins-prop>
            </div>
        </template>
    </ui-section>
</div>
