.store {
    > header {
        padding: 0 10px;
        background: var(--color-normal-fill-weakest);
        color: var(--color-normal-contrast-weakest);

        > .left {
            transform: rotate(90deg);
        }

        > .right {
            transform: rotate(-90deg);
        }

        > .more {
            float: right;
        }

        > ui-icon {
            padding: 0 4px;
            margin: 0 2px;
            cursor: pointer;
        }
    }
}