
.reference-image {
    > .content {
        flex: 1;
        padding: 25px;
        overflow: auto;

        > .btn-layout {
            display: flex;

            > .images {
                width: 100%;
                margin-right: 20px;
            }

            > .del-image {
                width: 100px;
            }

            > .add-image {
                width: 100px;
                margin-right: 10px;
            }
        }
    }
}
