<div class="assets">
    <header class="header">
        <ui-button class="transparent icon" tooltip="i18n:assets.menu.createMenu"
            @click="popupCreateMenu"
        >
            <ui-icon value="add"></ui-icon>
        </ui-button>
        <ui-button class="transparent icon triangle"
            :tooltip="'i18n:assets.menu.'+(sortType==='type'?'sortType':'sortName')"
            @click="popupSortMenu"
        >
            <ui-icon value="drop" class="sort-type"
                :type="sortType"
            ></ui-icon>
            <ui-icon value="arrow-triangle" class="icon-triangle"></ui-icon>
        </ui-button>
        <ui-button class="transparent icon triangle"
            :tooltip="searchAssetTypes.length?('i18n:assets.menu.searchType'+' \n'+searchAssetTypes.join(', \n')):searchPlaceholder"
            :type="!!searchAssetTypes.length"
            @click="popupSearchMenu"
        >
            <ui-icon value="search" class="search-type"
                :type="searchType"
            ></ui-icon>
            <ui-icon value="arrow-triangle" class="icon-triangle"></ui-icon>
        </ui-button>
        <ui-input tabindex="-1" ref="searchInput" show-clear
            tooltip="i18n:assets.menu.searchTip"
            :placeholder="searchPlaceholder"
            @change="searchChange"
            @keydown.up.stop="searchArrowDown($event,'up')"
            @keydown.down.stop="searchArrowDown($event,'down')"
            @keydown.left.stop
            @keydown.right.stop
            @keydown.enter.stop
        ></ui-input>
        <ui-button class="transparent icon expand" 
            :tooltip="'i18n:assets.menu.'+(!allExpand?'allExpand':'allCollapse')"
            @click="allToggle"
        >
            <ui-icon ref="toggleExpandIcon"
                :value="!allExpand ? 'expand' : 'collapse'"
            ></ui-icon>
        </ui-button>
        <ui-button class="transparent icon" tooltip="i18n:assets.menu.refresh"
            @click="refresh"
        >
            <ui-icon value="refresh"></ui-icon>
        </ui-button>
    </header>
    <div class="search-folder"
        v-if="searchInFolder || searchAssetTypes.length"
    >
        <div class="condition"
            v-if="searchInFolder"
            :title="t('menu.searchInFolderTitle')"
        >
            <div class="item">
                <ui-label class="name" value="i18n:assets.menu.searchInTip"></ui-label>
                <span class="value"
                    :title="searchInFolder.url"
                >
                    {{searchInFolder.url.replace('db://','').replace(/\//g,' / ')}}
                </span>
            </div>
            <ui-icon class="cancel" value="close" color="true"
                tooltip="i18n:assets.menu.cancelSearchInFolder"
                @click="cancelSearchInFolder"
            ></ui-icon>
        </div>
        <div class="condition"
            v-if="searchAssetTypes.length"
            :title="t('menu.searchType')"
        >
            <div class="item">
                <ui-label class="name" value="i18n:assets.menu.searchTypeTip"></ui-label>
                <span class="value"
                    :title="searchAssetTypes.join('\n')"
                >
                    {{searchAssetTypes.join(', ')}}
                </span>
            </div>
            <ui-icon class="cancel" value="close" color="true"
                tooltip="i18n:assets.menu.cancelSearchType"
                @click="cancelSearchType"
            ></ui-icon>
        </div>
    </div>

    <div class="loading center" 
        v-if="!dbReady"
    >
        <ui-loading></ui-loading>
    </div>

    <section class="content" ref="viewBox"
        @click.right="popupPanelMenu()"
    >
        <tree ref="tree"></tree>
        
        <div class="drop-box" 
            :style="dropBoxStyle"
        ></div>
        <div class="scroll-bar"
            :style="{ height: treeHeight + 'px'}"
        ></div>
    </section>

    <div class="refreshing"
        :class="refreshing.type ? 'fadeIn' : ''"
    >
        {{refreshing.name}}
    </div>
</div>
