<div class="wrap">
    <ui-section class="config section" expand header="i18n:ui-kit.preview.initialize">
        <div class="row">
            <ui-color-picker value="[45,78,123,120]"></ui-color-picker>
            <ui-code language="html">
                &lt;ui-color-picker value="[45,78,123,120]"&gt;&lt;/ui-color-picker&gt;
            </ui-code>
        </div>

        <div class="row">
            <h2>simple</h2>
            <ui-color-picker simple value="[45,78,123,120]"></ui-color-picker>
            <ui-code language="html">
                &lt;ui-color-picker simple value="[45,78,123,120]"&gt;&lt;/ui-color-picker&gt;
            </ui-code>
        </div>

        <div class="row">
            <h2>row</h2>
            <ui-color-picker row value="[45,78,123,120]"></ui-color-picker>
            <ui-code language="html">
                &lt;ui-color-picker row value="[45,78,123,120]"&gt;&lt;/ui-color-picker&gt;
            </ui-code>
        </div>
    </ui-section>
</div>
