<div class="wrap">
    <ui-section class="config section" expand header="i18n:ui-kit.preview.initialize">
        <div class="row">
            <ui-gradient-picker value='{"alpha":[{"value":0.39215686274509803,"progress":0.05133928571428571},{"value":1,"progress":0.984375}],"color":[{"value":"#ca0707","progress":0.953125}]}'></ui-gradient-picker>
            <ui-code language="html">
                &lt;ui-gradient-picker value='{"alpha":[{"value":0.39215686274509803,"progress":0.05133928571428571},{"value":1,"progress":0.984375}],"color":[{"value":"#ca0707","progress":0.953125}]}'&gt;&lt;/ui-gradient-picker&gt;
            </ui-code>
        </div>
    </ui-section>
</div>
