<div class="wrap">
    <ui-section class="config section" expand header="i18n:ui-kit.preview.initialize">
        <div class="row">
            <div>
                <ui-input value="test"></ui-input>
            </div>
            <ui-code language="html">
                &lt;ui-input value="test"&gt;&lt;/ui-input&gt;
            </ui-code>
        </div>

        <div class="row">
            <h2>password</h2>
            <div>
                <ui-input password value="xxxx"></ui-input>
            </div>
            <ui-code language="html">
                &lt;ui-input password value="xxxx"&gt;&lt;/ui-input&gt;
            </ui-code>
        </div>

        <div class="row">
            <h2>placeholder</h2>
            <div>
                <ui-input placeholder="name"></ui-input>
                <ui-input placeholder="i18n:ui-kit.preview.ui.input.placeholder"></ui-input>
            </div>
            <ui-code language="html">
                &lt;ui-input placeholder="name"&gt;&lt;/ui-input&gt;
                &lt;ui-input placeholder="i18n:ui-kit.preview.ui.input.placeholder"&gt;&lt;/ui-input&gt;
            </ui-code>
        </div>

        <div class="row">
            <h2>show-clear</h2>
            <div>
                <ui-input value="show-clear" show-clear></ui-input>
            </div>
            <ui-code language="html">
                &lt;ui-input value="show-clear" show-clear&gt;&lt;/ui-input&gt;
            </ui-code>
        </div>

        <div class="row">
            <h2>auto-select="false"</h2>
            <div>
                <ui-input value="auto-select" auto-select="false"></ui-input>
            </div>
            <ui-code language="html">
                &lt;ui-input value="auto-select" auto-select="false"&gt;&lt;/ui-input&gt;
            </ui-code>
        </div>

        <div class="row">
            <h2>invalid</h2>
            <div>
                <ui-input invalid></ui-input>
            </div>
            <ui-code language="html">
                &lt;ui-input invalid&gt;&lt;/ui-input&gt;
            </ui-code>
        </div>

        <div class="row">
            <h2>readonly</h2>
            <div>
                <ui-input readonly></ui-input>
            </div>
            <ui-code language="html">
                &lt;ui-input readonly&gt;&lt;/ui-input&gt;
            </ui-code>
        </div>

        <div class="row">
            <h2>disabled</h2>
            <div>
                <ui-input disabled></ui-input>
            </div>
            <ui-code language="html">
                &lt;ui-input disabled&gt;&lt;/ui-input&gt;
            </ui-code>
        </div>
    </ui-section>
</div>
