<div class="wrap">
    <ui-section class="config section" expand header="i18n:ui-kit.preview.initialize">
        <div class="row">
            <ui-prop>
                <ui-label slot="label">Name</ui-label>
                <ui-input slot="content"></ui-input>
            </ui-prop>
            <ui-code language="html">
                &lt;ui-prop&gt;
                    &lt;ui-label slot="label"&gt;Name&lt;/ui-label&gt;
                    &lt;ui-input slot="content"&gt;&lt;/ui-input&gt;
                &lt;/ui-prop&gt;
            </ui-code>
        </div>

        <div class="row">
            <ui-prop class="mb-10">
                <ui-label slot="label">Checkbox</ui-label>
                <ui-checkbox slot="content"></ui-checkbox>
            </ui-prop>
            <ui-prop class="mb-10">
                <ui-label slot="label">Color</ui-label>
                <ui-color slot="content"></ui-color>
            </ui-prop>
            <ui-prop class="mb-10">
                <ui-label slot="label">Select</ui-label>
                <ui-select slot="content">
                    <option value="1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit, sint.</option>
                    <option value="2">Sapiente ratione esse voluptatibus repudiandae illo numquam quas nulla id.</option>
                </ui-select>
            </ui-prop>
            <ui-code language="html">
                &lt;ui-prop&gt;
                    &lt;ui-label slot="label"&gt;Checkbox&lt;/ui-label&gt;
                    &lt;ui-checkbox slot="content"&gt;&lt;/ui-checkbox&gt;
                &lt;/ui-prop&gt;
                &lt;ui-prop&gt;
                    &lt;ui-label slot="label"&gt;Color&lt;/ui-label&gt;
                    &lt;ui-color slot="content"&gt;&lt;/ui-color&gt;
                &lt;/ui-prop&gt;
                &lt;ui-prop&gt;
                    &lt;ui-label slot="label"&gt;Select&lt;/ui-label&gt;
                    &lt;ui-select slot="content"&gt;
                        &lt;option value="1"&gt;Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit, sint.&lt;/option&gt;
                        &lt;option value="2"&gt;Sapiente ratione esse voluptatibus repudiandae illo numquam quas nulla id.&lt;/option&gt;
                    &lt;/ui-select&gt;
                &lt;/ui-prop&gt;
            </ui-code>
        </div>
    </ui-section>
</div>
