<div class="wrap">
    <ui-section class="config section" expand header="i18n:ui-kit.preview.initialize">
        <div class="row">
            <div class="mb-10">
                <ui-progress value="0"></ui-progress>
            </div>
            <div class="mb-10">
                <ui-progress value="20" style="width: 100px;"></ui-progress>
            </div>
            <div class="mb-10">
                <ui-progress value="60" style="width: 200px;"></ui-progress>
            </div>
            <div class="mb-10">
                <ui-progress value="100" style="width: 100%;"></ui-progress>
            </div>
            <ui-code language="html">
                &lt;ui-progress value="0"&gt;&lt;/ui-progress&gt;
                &lt;ui-progress value="20"&gt;&lt;/ui-progress&gt;
                &lt;ui-progress value="60"&gt;&lt;/ui-progress&gt;
                &lt;ui-progress value="100"&gt;&lt;/ui-progress&gt;
            </ui-code>
        </div>
    </ui-section>
</div>

