<div class="wrap">
    <ui-section class="config section" expand header="i18n:ui-kit.preview.initialize">
        <div class="row">
            <ui-slider value="0" min="0" max="100"></ui-slider>
            <ui-code language="html">
                &lt;ui-slider value="0" min="0" max="100"&gt;&lt;/ui-slider&gt;
            </ui-code>
        </div>

        <div class="row">
            <h2>step</h2>
            <div>
                <ui-slider step="2" value="20" min="0" max="100"></ui-slider>
            </div>
            <ui-code language="html">
                &lt;ui-slider  step="2" value="20" min="0" max="100"&gt;&lt;/ui-slider&gt;
            </ui-code>
        </div>

        <div class="row">
            <h2>invalid</h2>
            <div>
                <ui-slider invalid value="20"></ui-slider>
            </div>
            <ui-code language="html">
                &lt;ui-slider invalid value="20"&gt;&lt;/ui-slider&gt;
            </ui-code>
        </div>
       
        <div class="row">
            <h2>readonly</h2>
            <div>
                <ui-slider readonly value="20"></ui-slider>
            </div>
            <ui-code language="html">
                &lt;ui-slider readonly yvalue="20"&gt;&lt;/ui-slider&gt;
            </ui-code>
        </div>

        <div class="row">
            <h2>disabled</h2>
            <div>
                <ui-slider disabled value="20"></ui-slider>
            </div>
            <ui-code language="html">
                &lt;ui-slider disabled yvalue="20"&gt;&lt;/ui-slider&gt;
            </ui-code>
        </div>
    </ui-section>
</div>
