<div class="wrap">
    <ui-section class="config section" expand header="i18n:ui-kit.preview.initialize">
        <div class="row">
            <ui-setting package="scene">
                <ui-num-input path="t.a"></ui-num-input>
            </ui-setting>
            <ui-code language="html">
                &lt;ui-setting package="scene"&gt;
                    &lt;ui-num-input path="t.a"&gt;&lt;/ui-num-input&gt;
                &lt;/ui-setting&gt;
            </ui-code>
        </div>
    </ui-section>
</div>
