<div class="wrap">
    <ui-section class="config section" expand header="i18n:ui-kit.preview.initialize">
        <div class="row">
            <ui-section header="Here is title" expand>
                <div>one</div>
                <div>two</div>
                <div>three</div>
            </ui-section>
    
            <ui-code language="html">
                &lt;ui-section header="i18n:ui-kit.preview.initialize" expand&gt;
                    &lt;div&gt;one&lt;/div&gt;
                    &lt;div&gt;two&lt;/div&gt;
                    &lt;div&gt;three&lt;/div&gt;
                &lt;/ui-section&gt;
            </ui-code>
        </div>
       
        <div class="row">
            <h2>class="config"</h2>
            <div>has contained style</div>
            <ui-section class="config" header="Here is title" expand>
                <div>one</div>
                <div>two</div>
                <div>three</div>
            </ui-section>
    
            <ui-code language="html">
                &lt;ui-section class="config" header="Here is title"&gt;
                    &lt;div&gt;one&lt;/div&gt;
                    &lt;div&gt;two&lt;/div&gt;
                    &lt;div&gt;three&lt;/div&gt;
                &lt;/ui-section&gt;
            </ui-code>
        </div>
    </ui-section>
</div>
